registry=https://pkgs.dev.azure.com/febrahi5/_packaging/febrahi5/npm/registry/                       
always-auth=true

; begin auth token 
//pkgs.dev.azure.com/febrahi5/_packaging/febrahi5/npm/registry/:username=febrahi5 
//pkgs.dev.azure.com/febrahi5/_packaging/febrahi5/npm/registry/:_password=bjRlNWplY2k2aXR1M3h5c2tra3BtaWx5eWhoYmZlNXBzejJ0N3FnZTN2b25wdGx0eDZvYQ== 
//pkgs.dev.azure.com/febrahi5/_packaging/febrahi5/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/febrahi5/_packaging/febrahi5/npm/:username=febrahi5 
//pkgs.dev.azure.com/febrahi5/_packaging/febrahi5/npm/:_password=bjRlNWplY2k2aXR1M3h5c2tra3BtaWx5eWhoYmZlNXBzejJ0N3FnZTN2b25wdGx0eDZvYQ==
//pkgs.dev.azure.com/febrahi5/_packaging/febrahi5/npm/:email=npm requires email to be set but doesn't use the value
; end auth token