<h1>Dentistry Services</h1>
    <div class="services-container">
        <div class="service">
            <img src="..//../assets/img/service1.jpg" alt="Service 1">
            <h2>Teeth Cleaning</h2>
            <p>A routine procedure to remove plaque, tartar, and stains from teeth, promoting oral hygiene and a better appearance.</p>
        <!-- Link for booking an appointment-->
         <a routerLink="/book-now" class="cta-button">Click here to Book an Appointment</a>
        </div>

        <div class="service">
            <img src="..//../assets/img/service2.jpg" alt="Service 2">
            <h2>Teeth Whitening</h2>
            <p>Cosmetic treatment to lighten discolored teeth using bleaching agents, enhancing the smile's aesthetics.</p>
        <!-- Link for booking an appointment-->
         <a routerLink="/book-now" class="cta-button">Click here to Book an Appointment</a>
        </div>

        <div class="service">
            <img src="..//../assets/img/service3.jpg" alt="Service 3">
            <h2>Dental Implants</h2>
            <p>Restorative method to replace missing teeth with titanium posts and crowns for natural-looking and functional results.</p>
        <!-- Link for booking an appointment-->
         <a routerLink="/book-now" class="cta-button">Click here to Book an Appointment</a>
        </div>

        <div class="service">
            <img src="..//../assets/img/service4.jpg" alt="Service 4">
            <h2>Orthodontics</h2>
            <p>Specialized dentistry to correct teeth and jaw alignment using braces, aligners, or other appliances for improved oral health and aesthetics.</p>
        <!-- Link for booking an appointment-->
         <a routerLink="/book-now" class="cta-button">Click here to Book an Appointment</a>
        </div>

        <div class="service">
            <img src="..//../assets/img/service5.jpg" alt="Service 5">
            <h2>Root Canal Treatment</h2>
            <p>Procedure to save infected or decayed teeth by removing damaged pulp, cleaning the canals, and sealing them to prevent extraction.</p>
        <!-- Link for booking an appointment-->
         <a routerLink="/book-now" class="cta-button">Click here to Book an Appointment</a>
        </div>

        <div class="service">
            <img src="..//../assets/img/service6.jpg" alt="Service 6">
            <h2>Oral Surgery</h2>
            <p>Surgical interventions in the mouth and jaw, including extractions, wisdom teeth removal, dental implants, and corrective jaw surgeries.</p>
        <!-- Link for booking an appointment-->
         <a routerLink="/book-now" class="cta-button">Click here to Book an Appointment</a>
        </div>
    </div>
